@charset "utf-8";

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://cdn.jsdelivr.net/npm/material-icons@1.13.14/iconfont/material-icons.min.css);

:root {
   /* Colors */

   --system-red: rgb(255, 69, 58);
   --system-orange: rgb(255, 159, 10);
   --system-yellow: rgb(255, 214, 10);
   --system-green: rgb(48, 209, 88);
   --system-mint: rgb(102, 212, 207);
   --system-teal: rgb(64, 200, 224);
   --system-cyan: rgb(100, 210, 255);
   --system-blue: rgb(10, 132, 255);
   --system-indigo: rgb(94, 92, 230);
   --system-purple: rgb(191, 90, 242);
   --system-pink: rgb(255, 55, 95);
   --system-brown: rgb(172, 142, 104);

   --system-gray0: rgb(204, 204, 209);
   --system-gray1: rgb(142, 142, 147);
   --system-gray2: rgb(99, 99, 102);
   --system-gray3: rgb(72, 72, 74);
   --system-gray4: rgb(58, 58, 60);
   --system-gray5: rgb(44, 44, 46);
   --system-gray6: rgb(28, 28, 30);
   --system-gray7: rgb(21, 21, 23);
   --system-gray8: rgb(14, 14, 16);

   --text-color: white;
   --gradient: linear-gradient(to bottom, rgba(35, 37, 40, 0.553) 0%, rgba(13, 16, 21, 0.831) 100%);
   --border: 4px solid rgba(43, 45, 47, 0.675);
}

@media (prefers-color-scheme: light) {
   :root {
      --system-red: rgb(255, 59, 48);
      --system-orange: rgb(255, 149, 0);
      --system-yellow: rgb(255, 214, 10);
      --system-green: rgb(0, 114, 29);
      --system-mint: rgb(0, 199, 190);
      --system-teal: rgb(48, 176, 199);
      --system-cyan: rgb(50, 173, 230);
      --system-blue: rgb(0, 122, 255);
      --system-indigo: rgb(88, 86, 214);
      --system-purple: rgb(175, 82, 222);
      --system-pink: rgb(255, 45, 85);
      --system-brown: rgb(162, 132, 94);

      --system-gray0: rgb(72, 72, 77);
      --system-gray1: rgb(122, 122, 127);
      --system-gray2: rgb(174, 174, 178);
      --system-gray3: rgb(199, 199, 204);
      --system-gray4: rgb(209, 209, 214);
      --system-gray5: rgb(229, 229, 234);
      --system-gray6: rgb(242, 242, 247);
      --system-gray7: rgb(249, 249, 255);
      --system-gray8: rgb(255, 255, 255);

      --text-color: black;
      --gradient: linear-gradient(to bottom, rgba(247, 247, 252, 0.642) 0%, rgba(222, 221, 226, 0.6) 100%);
      --border: 4px solid rgba(229, 229, 234, 0.66);
   }
}

html, body, x3d-canvas {
   overflow: hidden;
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 17px;
}

.panel {
   border: 4px solid transparent;
   margin: 0;
   padding: 2px 0px 1px 2px;
}

.panel::before {
   content: " ";
   position: absolute;
   display: block;
   box-sizing: border-box;
   top: -4px;
   left: -4px;
   width: calc(100% + 8px);
   height: calc(100% + 8px);
   background: var(--system-red);

   backdrop-filter: blur(8px);
   background: var(--gradient);
   background-clip: padding-box;
   border: var(--border);
   border-radius: 5px;
   margin: 0;
   padding: 4px;
}

.panel > * {
   position: relative;
}

.panel .panel {
   padding: 0px 0px 4px 2px;
}

.toolbar {
   user-select: none;
   position: absolute;
   top: 20px;
   left: -4px;
}

.toolbar button {
   cursor: pointer;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   outline: none;
   border: none;
   background: none;
   padding: 0 2px;
   color: var(--text-color);
   font-size: 17px;
 }

.toolbar button:hover {
   color: var(--system-gray0);
}

.toolbar .selected,
.toolbar button.selected {
   color: var(--system-green);
}

.toolbar span.dot::before {
   content: "•";
   position: relative;
   top: -4px;
   margin: 0 4px 0 4px;
   color: var(--text-color);
}

.toolbar .grip {
   padding-left: 5px;
   color: var(--system-gray0);
}

.toolbar .menu ul {
   display: none;
   position: absolute;
   left: -3px;
   list-style: none;
   text-align: left;
   font-size: 9px;
}

.toolbar .menu:hover ul {
   display: block;
}

.toolbar .menu ul li {
   padding: 2px;
   white-space: nowrap;
}

.toolbar .menu ul button {
   font-family: var(--vscode-font-family);
   font-size: 12px;
}

.toolbar .menu ul button .material-symbols-outlined {
   position: relative;
   top: 4px;
   margin-right: 3px;;
}
